<nav class="navbar">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <i class="fas fa-flask navbar-icon"></i>
            Lab Requisition System
        </a>
        <ul class="navbar-nav">
            <li>
                <a routerLink="/" class="nav-link" title="Go to Home">Home</a>
            </li>
            <li>
                <a routerLink="/requisition" class="nav-link" title="Create a New Requisition">New Requisition</a>
            </li>
            <li>
                <a routerLink="/report" class="nav-link" title="Generate Reports">Generate Report</a>
            </li>
        </ul>
    </div>
</nav>