<div class="card-container">
    <div class="card" routerLink="/requisition" title="Create a New Requisition">
        <div class="card-content">
            <i class="fas fa-file-medical card-icon"></i>
            <h3>New Requisition</h3>
            <p>Create and submit new lab requisitions.</p>
        </div>
    </div>

    <div class="card" routerLink="/report" title="Generate Reports">
        <div class="card-content">
            <i class="fas fa-chart-bar card-icon"></i>
            <h3>Generate Report</h3>
            <p>View and generate detailed lab reports.</p>
        </div>
    </div>
</div>